li{
  list-style: none;
}

.custom-button {
  position: relative;
  background: linear-gradient(to right, transparent 0%, #65666fad, #beb7ba7d);
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  transition: all 0.3s ease;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  overflow: hidden;
}

.custom-button-part1 {
  position: relative;
  border: none;
  border-radius: 20px 0px 0px 20px;
  color: #fff;
  transition: all 0.3s ease;
  background: linear-gradient(to left, transparent 0%, #eeeff75c, #fdf2ff6e);
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  text-align: start;
  cursor: pointer;
  margin-right: 0.5rem;
  overflow: hidden;
}

.custom-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 50px;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.custom-button-part1::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.default-button {
  background: none;
  border: none;
  border-radius: 0 20px 20px 0;
  color: #fff;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.card {
  width: 400px;
  background : none;
  color: #fff;
  border:none;
  height: 30px;
  margin-top: 7rem;
  margin-left: 49rem;
}

.card-header {
  background-color: #f8f9fa;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 600px;

}
.card-text {
  flex-grow: 1;
  font-size: 16px;
}

/*//media queries*/
@media (max-width: 700px) {
  .card {
    width: 400px;
    background: none;
    color: #fff;
    border: none;
    height: 30px;
    margin: 0px;
  }
  .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 590px;
    margin-top: -27px;
  }
  .custom-button-part1 {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
  }
  .card-title{
    font-size :20px ;
  }

}

@media (max-width: 500px) {
  .card {
    width: 400px;
    background: none;
    color: #fff;
    border: none;
    height: 30px;
    margin: 0px;
  }
  .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 590px;
    margin-top: -27px;
  }

  .custom-button-part1 {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    overflow: hidden;
  }

  .card-title{
  font-size :20px ;
  }
}

